@charset 'utf-8';
@font-face{font-family:'SDF';src:url('/mySite/public/Fonts/IRANSansLight.woff') format('woff'),url('/mySite/public/Fonts/IRANSansLight.ttf') format('truetype');font-weight:normal}
@font-face{font-family:'SDF';src:url('/mySite/public/Fonts/IRANSansMedium.woff') format('woff'),url('/mySite/public/Fonts/IRANSansMedium.ttf') format('truetype');font-weight:bold}
@font-face{font-family:'BYekan';src:url('/mySite/public/Fonts/BYekan.eot') format("eot"),url('/mySite/public/Fonts/BYekan.woff') format("woff"),url('/mySite/public/Fonts/BYekan.ttf') format("truetype")}

body {
    margin: 0 0 40px;
    font-family: 'BYekan', 'SDF', 'Tahoma', sans-serif;
    font-weight: 200;
    color: #666666;
    word-break: break-word;
}
.sdf{
    font-family: 'SDF' , tahoma !important;
}
.byekan,fieldset,legend,strong,.btn,.smalltext,table,.tooltip{font-family:BYekan ,'BYekan','b yekan',tahoma!important}



svg {
    max-width: 100% !important;
    -webkit-filter: drop-shadow(-1px 7px 5px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(-1px 7px 5px rgba(0, 0, 0, 0.4));
}

svg *:not(.doNotUnfill) {
    stroke: currentColor;
}

.container {
    direction: rtl;
    text-align: center;
    margin: 50px 20% 20px 20%;
    background: rgba(255, 255, 255, 0.12);
}

.bloc{
    text-align:center;
    border-radius: 6rem 0 6rem 6rem;
    padding: 40px !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-top: 3px solid;
    border-right: 3px dashed;

}

/* Custom */
#jafarRezaeiAnimate {
    fill-opacity: 0;
    width: 100%;
    stroke-width: 4;
}

#jafarRezaeiAnimate.finished {
    fill-opacity: 1;
    stroke-width: 5;
    -webkit-filter: drop-shadow(-1px 7px 3px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(-1px 7px 3px rgba(0, 0, 0, 0.2));
    /*fill:rgba(0,0,0,.4);*/
}

#jafarRezaeiAnimate.finished * {
    color: rgba(255, 255, 255, 0.4);
}

.btn {
    font-size: 16px;
    position: relative;
    display: block;
    margin: 30px auto;
    padding: none;
    overflow: hidden;
    outline: none;
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0 0 #27ae60;
    background-color: #2ecc71;
    color: #fff;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    box-shadow: inset -300px 0 0 #27ae60;
}

/* Switch */

input#check-box {
    max-height: 0;
    min-height: 0;
    opacity: 0;
    display: none;
}

input#check-box + label {
    display: block;
    position: relative;
    left: 40%;
    box-shadow: inset 0 0 2px 2px #d6d6d6;
    text-indent: -10000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    background: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}

input#check-box + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: #2ecc71;
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
}

input#check-box + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
}

input#check-box:checked + label:before {
    width: 50px;
    background: rgba(19, 191, 17, 1);
}

input#check-box:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}
.spinner {
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: #191787;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    position: relative;
    bottom: -26px;
    right: -24px;
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    50%{
        -webkit-transform: scale(0.3);
        opacity: 70;
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
        opacity: 70;
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}
